{% extends 'visitor/index.html.twig' %}

{% block title %}Modifier un profil{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/charter.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/styles/dimensionpage.css') }}">
{% endblock %}

{% block main %}
	<div class="container-fluid ">
		<div class="row justify-content-center main-content">
			<div class="col-md-7 col-lg-7">
				<div class="card shadow my-5">
					<div class="card-body">
                        <div class="card-header custom-card-header text-center">
                            <h1 class="h1 mt-2 h1-profile">Changer de mot de passe</h1>
                        </div>                    

                        <div>
                                {% for message in app.flashes('success') %}
                                <div class="alert alert-success mt-3" role="alert">
                                    {{ message }}
                                </div>           
                                {% endfor %}
                                {% for message in app.flashes('warning') %}
                                <div class="alert alert-danger mt-3" role="alert">
                                    {{ message }}
                                </div>           
                                {% endfor %}
                        </div>

                        <div >
                        {# <div class="toggle-password-container"> #}
                            {{ form_start(form) }}
                            <div class="form-groupe mt-3">
                                <div class="toggle-password-container">
                                {{ form_row(form.password) }}
                                </div>
                            </div>
                            <div class="form-groupe mt-2">
                                {{ form_row(form.newPassword) }}
                            </div>
                        {# </div> #}
                        <div class="container text-center mb-3 mt-3">
                        {{ form_widget(form.submit) }}
                        {{ form_end(form) }}
                        <button class='btn btn-secondary'><a class="a-profile" href="{{ path('app_users_show', {'id': user.id}) }}">Annuler</a></button>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}