{% extends 'base.html.twig' %}

{% block title %}Réinisitialisation de mot de passe
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/styles/resetPassword.css') }}">
{% endblock %}

{% block body %}
	{% include "components/navBar.html.twig" %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="card shadow my-5">
					<div class="card-body">
						<h1 class="text-center">Réinitialiser <br> mot de passe</h1>
						{{form_start(requestPassForm)}}
						{{form_row(requestPassForm.email)}}
							<div class="mt-3 form-group d-flex align-items-center justify-content-between"> 
								<button type="submit" class="btn btn-primary">Envoyer</button>
								 <a href="{{path('app_login')}}" class="btn btn-primary btn-block">
                                    Se connecter
								</a>
							</div>

							{{form_end(requestPassForm)}}


						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
