{% extends 'adminTemplatePage.html.twig' %}

{% block title %}Créer une nouvelle réservation
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{ asset('assets/styles/reservationAdmin.css') }}">
{% endblock %}

{% block main %}
	<div class="container mt-5">
		<h1 class="mb-4">Créer une nouvelle réservation</h1>

		{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': ''}}) }}

		<!-- Date de la réservation -->
		<div class="mb-3">
			{{ form_label(form.date_reservation, 'Date de réservation', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.date_reservation, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.date_reservation) }}
		</div>

		<!-- Heure de début -->
		<div class="mb-3">
			{{ form_label(form.start_hour, 'Heure de début', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.start_hour, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.start_hour) }}
		</div>

		<!-- Heure de fin -->
		<div class="mb-3">
			{{ form_label(form.end_hour, 'Heure de fin', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.end_hour, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.end_hour) }}
		</div>

		<!-- Machine -->
		<div class="mb-3">
			{{ form_label(form.machine, 'Machine', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.machine, {'attr': {'class': 'form-select'}}) }}
			{{ form_errors(form.machine) }}
		</div>

		<!-- Utilisateur -->
		<div class="mb-3">
			{{ form_label(form.user, 'Utilisateur', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.user, {'attr': {'class': 'form-select'}}) }}
			{{ form_errors(form.user) }}
		</div>

		<!-- Validation -->
		<div class="mb-3 form-check custom-checkbox">
			{{ form_widget(form.is_validated, {'attr': {'class': 'form-check-input'}}) }}
			{{ form_label(form.is_validated, 'Validée', {'label_attr': {'class': 'form-check-label'}}) }}
			{{ form_errors(form.is_validated) }}
		</div>


		<button type="submit" class="btn btn-primary">Créer</button>

		{{ form_end(form) }}
	</div>
{% endblock %}
